@charset "utf-8";
/* CSS Document */

html, body {height: 100%;}

html {
	-webkit-font-smoothing: antialiased;
}

body {
	background-color: #eee;
	background-position: top center;
	background-attachment: fixed;
	background-repeat: repeat;
	color: #333;
	
	font-family: 'Open Sans', sans-serif;
	text-align: left;
	line-height: 20px;
	
}

.bottom-margin {
	margin-bottom: 18px;	
}

.ease {
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;		
}

.img-radius {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.align-left { text-align: left; }
.align-right { text-align: right; }
.align-center { text-align: center; }
.align-left-force { text-align: left !important; }
.align-right-force { text-align: right !important; }
.align-center-force { text-align: center !important; }

#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -150px;
}

#main {
	overflow: auto;
	padding: 15px;
	color: #333;
	border-right: solid 1px #ccc;
	border-left: solid 1px #ccc;
	border-bottom: solid 1px #ccc;
	background-color: #fff;
	padding-top: 50px;
}  /* must be same height as the footer */

#activationbox {
	overflow: auto;
	padding: 15px;
	color: #333;
	border-right: solid 1px #ccc;
	border-left: solid 1px #ccc;
	border-bottom: solid 1px #ccc;
	background-color: #fff;
}

#push {
	height: 150px;
}

.container-signin {
	display: block;
	max-width: 600px;
	margin: 60px auto;
	padding: 20px;
	background-color: #151515;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 1px 1px 10px 4px rgba(53,118,179,0.49);
	-webkit-box-shadow: 1px 1px 10px 4px rgba(53,118,179,0.49);
	-moz-box-shadow: 1px 1px 10px 4px rgba(53,118,179,0.49);
}

.lookvideo {
	display: block;
	max-width: 720px;
	margin: 60px auto;
	padding: 0px;
	background-color: #151515;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 1px 1px 10px 4px rgba(53,118,179,0.49);
	-webkit-box-shadow: 1px 1px 10px 4px rgba(53,118,179,0.49);
	-moz-box-shadow: 1px 1px 10px 4px rgba(53,118,179,0.49);
}



/* Search Menu */

ul.modulemenu {
	z-index: 900;
	position: fixed;
	width: 100%;
	list-style: none;
	padding: 0;
	margin: 0;
}

ul.modulemenu li {
	display: block;
	float: left;
	width: 10%;
	box-sizing: border-box;
	background-color: #2C3E50;
	color: #FFF;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	text-align: center;
	font-size: 80%;
	border-left: 1px solid #1f2e3c;
	cursor: pointer;
}

ul.modulemenu li a {
	color: #fff;
	width: 100%;
	display: block;
	text-decoration: none;
	padding-top: 5px;
}

ul.modulemenu li.active {
	background-color: #2b7ab0;	
}

ul.modulemenu li:hover {
	background-color: #2b7ab0;
	
}

ul.modulemenu li:first-child {
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-left-radius: 4px;
	border-left: 0px !important;
}

ul.modulemenu li:last-child {
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	border-bottom-right-radius: 4px;
}

ul.modulemenu li img {
	height: 40px;
}

/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
content:"";
height:100%;
float:left;
width:0;
margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}