@charset "utf-8";
/* CSS Document */
html, body, iframe {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background-color: #eeeeee;
	font-family: "open sans";
	font-weight: 300;
}
body {
	padding-top: 50px;
	padding-bottom: 20px;
}

.container {
	color: #000;
	background-color: #fff;
}

label {
	font-weight: normal;
	color: #333333;
}

.panel-heading.panel-heading-red {
	background-color: #D9534F;
	color: #ffffff;
}

.navbar-xpress{
	border-radius: 0;
	background-color: #333333;
	margin:0;
}

.navbar-nav-xpress {
	background-color: #336CB5;
	width:100%;
	margin:0;
}

.navbar-nav-xpress > li a {
	color: #ffffff;
	border-right: solid 1px #3d7bc9;
}

.navbar-nav-xpress > li a:hover {
    background-color: #5d5d5d;
}

.navbar-nav-xpress > .active > a, .navbar-nav-xpress > .active > a:hover, .navbar-nav-xpress > .active > a:focus {
    background-color: #333;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    background-color: #336CB5;
}

.navbar .navbar-nav-xpress > li a {
	display: inline-block;
	background-color: #336CB5;
	color: #ffffff;
    text-align: center;
}

.navbar .navbar-nav-xpress > li {
	display: inline-block;
	background-color: #336CB5;
}

.navbar .navbar-nav-xpress > li:first-child {
	margin:0;
}

.time-eventfr{
	font-weight: 500; 
	color: #fff; 
	background-color: #428BCA;
	border-radius: 10px;
	padding:3px;
}

.time-eventen{
	font-weight: 500; 
	color: #fff; 
	background-color: #D2322D;
	border-radius: 10px;
	padding:3px;
}

.flex-video {
	position: relative;
	height: 0;
	overflow: hidden;
	
}
 
.flex-video {
	position: relative;
	height: 0;
	overflow: hidden;
	
}
 
.flex-video.widescreen { padding-bottom: 57.25%; }
.flex-video.vimeo { padding-top: 0; max-width: 720; }
 
.flex-video iframe,
.flex-video object,
.flex-video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
}

body.modal-open,.modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom { margin-right: 0 !important; }

.modal-xpress { margin-top: 20px; width: 720px !important; overflow: hidden !important;}
.modal-xpressmod { margin-top: 20px; overflow: hidden !important;}
div#videomodal { overflow: hidden !important; }
div#videomodmodal { overflow: hidden !important; }


@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
	.flex-video { padding-top: 0; }
}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
	.navbar-nav-xpress > li a {
		height:40px;
		line-height:10px;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	.navbar .nav > li {
		display: inline-block;
	    text-align: center;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
	.navbar .nav > li {
		display: inline-block;
	    text-align: center;
	}
}



