@charset "utf-8";
/* CSS Document */
.hide { display: none!important; }

.nopadding { padding: 0; }
.leftpadding { padding: 0 0 0 10px; }
.rightpadding { padding: 0 10px 0 0; }
.toppadding { padding: 20px 0 0 0; }

.color-white { color: #ffffff; }
.color-black { color: #000000; }
.color-gold { color: #e3880d; }

h1 {
    font-size: 1.5em;
    color: #858585;
    line-height: 30px;
}

body {
    font-family: 'Open Sans', sans-serif;
}
.navbar-xpress {
	min-height: 60px;
	background-color: #fdfdfd;
	background-color: rgba(255,255,255,0.70);
	border-radius: 0;
	margin: 0;
	border-bottom: solid 1px #ccc;
	z-index: 99;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

.navbar-xpress .navbar-header {
	min-height: 60px;	
	text-shadow: none;
}

.navbar-xpress a.navbar-brand {
	padding-top: 0;
	padding-bottom: 0;
	color: #336CB5;
}

.navbar-xpress .navbar-nav li a {
	line-height: 60px;
	padding-top: 0;
	padding-bottom: 0;
	color: #000;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	text-shadow: none;
}

.navbar-xpress .navbar-nav li a:hover, .navbar-xpress .navbar-nav li a:focus, .navbar-xpress .navbar-nav li a:active {
	color: #e3880d;
	background-color: transparent;
}

.navbar-xpress .navbar-nav li.active a {
	color: #e3880d;
	background-color: transparent;
}


.navbar-brand {
    color:#ffffff;
    line-height: 60px;
    font-weight: 700;
    font-size: 1.5em;
    text-transform: uppercase;
}

.navbar-brand:hover, .navbar-brand:active, .navbar-brand:visited  {
    color: #f8f8f8;
}

.navbar-xpress .navbar-nav li a {
	color: #333;
	
}

.navbar-xpress .dropdown-menu {
    background-color: #fdfdfd;
    color: #333
}

.navbar-xpress .dropdown-menu > li a {
    line-height: 25px;
}

.navbar-nav > li a{
    background-color: transparent;
}


.bg-main{ 
    position: relative;
    width: 100%;
    min-height: 600px;
    top: 0px;
    left: 0px;
    background-color: #cccccc;
    background-size: cover;
    background-repeat: none;
    background-image:url('../images/bgwomen.jpg');
    z-index: 0;
    color: #000;
}

.bg-small{ 
    position: relative;
    width: 100%;
    min-height: 300px;
    top: 0px;
    left: 0px;
    background-color: #cccccc;
    background-size: cover;
    background-repeat: none;
    background-image:url('../images/bgwomen.jpg');
    z-index: 0;
    color: #fff;
}

.black-title {
    background-color: #585858;
    color: #f8f8f8;
    font-size: 1.5em;
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin-bottom: 28px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}

.signup-blackbox {
    background-color: rgba(0,0,0,0.5);
    padding: 10px 20px;
    margin: 0;
    color: #fff;
    width: 100%;
}

.plan {
    background-color: #ffffff;
    width: 100%;
    border: solid 1px #b5b5b5;
    padding: 0;
    text-decoration: none;
    color: #000;
    cursor: default;
}

.myaccprofile {
    font-size: 0.9em;
    font-weight: 600;
}

.plan:hover {
    text-decoration: none;
    color: #000;
    -webkit-box-shadow: 0px 0px 14px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 14px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 14px 2px rgba(0,0,0,0.75);
}

.plan .title {
    background-color: #333;
    color: #fff;
    text-align: center;
    line-height: 40px;
    height: 40px;
}

.plan .description {
    color: #eee;
    background-color: #333;
    text-align: justify;
    margin: 2px 0 2px 0;
	padding: 10px 10px;
	font-size: 0.9em;
    height: 140px;
    font-weight: 600;
}

.plan .include {
    text-align: center;
    font-weight: 600;
    font-size: 0.9em;
    color: #797979;
    letter-spacing: 3px;
    height: 60px;
    line-height: 30px
    
}

.plan ul {
	list-style: none;
	padding: 0;
	margin: 0;
	height: 250px;
}

.plan ul li {
	display: block;
	margin: 2px 0 2px 0;
	padding: 5px 10px;
	font-size: 0.9em;
}

.plan ul li:nth-child(odd) { 
    background-color: #e9e9e9;
}

.plan .price{
    font-size: 2.3em;
    text-align: center;
    color: #336CB5;
    padding: 10px 0;
}

.plan .price small {
    font-size: 0.4em;
    color: #333333;
}

.planpayment:hover {
    text-decoration: none;
    color: #000;
    -webkit-box-shadow: 0px 0px 14px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 14px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 14px 2px rgba(0,0,0,0.75);
}

.planpayment .title {
    background-color: #1467ab;
    color: #fff;
    text-align: center;
    line-height: 40px;
    height: 40px;
}

.planpayment .price{
    font-size: 2.3em;
    text-align: center;
    color: #336CB5;
    padding: 10px 0;
}

.planpayment .price small {
    font-size: 0.4em;
    color: #333333;
}

.selplan{
    border-radius: 0;
    height: 50px;
}

.setplan{
    border-radius: 0;
    height: 50px;
    
}

#loginform {
    margin-top: 80px;
}

#loginform input {
    background-color: #fdfdfd;
	background-color: rgba(255,255,255,0.70);
}

#loginform a {
    color: #fff;
}

.blackbox {
    background-color: rgba(0,0,0,0.5);
    padding: 10px 20px;
    margin: 0;
    color: #fff;
    border-radius: 5px;
}


.calrow { width: 40px; }

.calrow .day {
    font-size: 200%;
    letter-spacing: 12px;
    color: #606060;
    line-height: 25px;
}

.calrow .month {
    font-size: 110%;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #9a9a9a;
    line-height: 20px;
}

.time {
    font-size: 100%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #333333;
    font-weight: 700;
}


#wrap {
    width: 100%;
    height: 100%;
}

.footer {
	width: 100%;
	border:0;
}

.footer-a {
    background-color: #336CB5;
	min-height: 300px;
	padding: 20px 0 20px 0;
}

.footer-a p {
	font-family: 'Open Sans', sans-serif;
	color: #FFF;
}

.footer-a h3 {
	color: #FFF;
	padding: 0;
	margin: 0 0 16px 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.1em;
}

.footer-a ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.footer-a ul li {
	display: block;
	margin: 0 0 7px 0;
}

.footer-a ul li a i {
	width: 15px;
	margin-right: 8px;	
}

.footer-a ul li a:link, .footer-a ul li a:visited {
	color: #FFF;
	text-decoration: none;
}

.footer-a ul li a:hover {
	color: #F3F3F3;
	text-decoration: none;
}

.footer-b {
	font-family: 'Montserrat', sans-serif;
	background-color: #2d609d;
	line-height: 60px;
	color: #ffffff;
	font-size: 0.9em;
}

.social-icons {
	font-size: 1.5em;
}

.social-icons a:link, .social-icons a:visited {
	color: #cccccc;
	text-decoration: none;
	margin-left: 6px;
}

.social-icons a:hover {
	color: #ffffff;
	text-decoration: none;
}

#navbar-login input {
    background-color: #ffffff;
    background-color: rgba(0,0,0,0.25);
    border-radius: 0;
    border:0;
    color:#fff;
}

#navbar-login input::-webkit-input-placeholder {
   color: #333333;
}

#navbar-login input:-moz-placeholder { /* Firefox 18- */
   color: #333333;  
}

#navbar-login input::-moz-placeholder {  /* Firefox 19+ */
   color: #333333;  
}

#navbar-login input:-ms-input-placeholder {  
   color: #333333;  
}

.navbar-danger {
    background-color: #be2e18;
    color: #fff;
    margin:0;
    border:0;
    padding:10px;
}

.table {
    font-size: 0.9em;
}
.title {
    font-size: 150%;
    color: #336CB5;
}

.subtitle {
    font-size: 120%;
    color: #336CB5;
    font-weight: 600;
    line-height: 30px;
}


.mnulogo {
    width: 15px;
}
/* XPRESS PANELS */
.panel {
   border: 0; 
   background-color: #fcfcfc;
   border-radius: 0;
}

/* XPRESS BUTTONS */
.btn-xp-orange {
	background-color: #e3880d;
    background-color: rgba(227,136,13,0.9) !important;
	filter: none;
	color: #fff !important;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	padding: 8px 14px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 0;
	text-shadow: none;
	text-decoration: none;
	box-shadow: none;
	text-align: left;
}

.btn-xp-orange:hover {
	background-color: #e3880d;
    background-color: rgba(227,136,13,0.95) !important;
	color: #fff !important;
	text-shadow: none;
	text-decoration: none;
}

.btn-xp-orange:active {
	color: #fff !important;
	background-color: #e3880d;
    background-color: rgba(227,136,13,0.9) !important;
	box-shadow: none;	
}

/* XPRESS FORMS */
label {
    font-weight: 600;
}



.bootstrap-switch {
  display: inline-block;
  direction: ltr;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid;
  border-color: #cccccc;
  position: relative;
  text-align: left;
  overflow: hidden;
  line-height: 8px;
  z-index: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.bootstrap-switch .bootstrap-switch-container {
  display: inline-block;
  top: 0;
  border-radius: 4px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.bootstrap-switch .bootstrap-switch-handle-on,
.bootstrap-switch .bootstrap-switch-handle-off,
.bootstrap-switch .bootstrap-switch-label {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block !important;
  height: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 20px;
}
.bootstrap-switch .bootstrap-switch-handle-on,
.bootstrap-switch .bootstrap-switch-handle-off {
  text-align: center;
  z-index: 1;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {
  color: #fff;
  background: #337ab7;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-info,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-info {
  color: #fff;
  background: #5bc0de;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-success,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-success {
  color: #fff;
  background: #5cb85c;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-warning,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-warning {
  background: #f0ad4e;
  color: #fff;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-danger,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-danger {
  color: #fff;
  background: #d9534f;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-default,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default {
  color: #000;
  background: #eeeeee;
}
.bootstrap-switch .bootstrap-switch-label {
  text-align: center;
  margin-top: -1px;
  margin-bottom: -1px;
  z-index: 100;
  color: #333333;
  background: #ffffff;
}
.bootstrap-switch .bootstrap-switch-handle-on {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.bootstrap-switch .bootstrap-switch-handle-off {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.bootstrap-switch input[type='radio'],
.bootstrap-switch input[type='checkbox'] {
  position: absolute !important;
  top: 0;
  left: 0;
  margin: 0;
  z-index: -1;
  opacity: 0;
  filter: alpha(opacity=0);
}
.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-label {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
}
.bootstrap-switch.bootstrap-switch-small .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-small .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-small .bootstrap-switch-label {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.bootstrap-switch.bootstrap-switch-large .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-large .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-large .bootstrap-switch-label {
  padding: 6px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}
.bootstrap-switch.bootstrap-switch-disabled,
.bootstrap-switch.bootstrap-switch-readonly,
.bootstrap-switch.bootstrap-switch-indeterminate {
  cursor: default !important;
}
.bootstrap-switch.bootstrap-switch-disabled .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-readonly .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-indeterminate .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-disabled .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-readonly .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-indeterminate .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-disabled .bootstrap-switch-label,
.bootstrap-switch.bootstrap-switch-readonly .bootstrap-switch-label,
.bootstrap-switch.bootstrap-switch-indeterminate .bootstrap-switch-label {
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: default !important;
}
.bootstrap-switch.bootstrap-switch-animate .bootstrap-switch-container {
  -webkit-transition: margin-left 0.5s;
  -o-transition: margin-left 0.5s;
  transition: margin-left 0.5s;
}
.bootstrap-switch.bootstrap-switch-inverse .bootstrap-switch-handle-on {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.bootstrap-switch.bootstrap-switch-inverse .bootstrap-switch-handle-off {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.bootstrap-switch.bootstrap-switch-focused {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.bootstrap-switch.bootstrap-switch-on .bootstrap-switch-label,
.bootstrap-switch.bootstrap-switch-inverse.bootstrap-switch-off .bootstrap-switch-label {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.bootstrap-switch.bootstrap-switch-off .bootstrap-switch-label,
.bootstrap-switch.bootstrap-switch-inverse.bootstrap-switch-on .bootstrap-switch-label {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}