@charset "utf-8";
/* CSS Document */

.nopadding {
    padding : 0;
}
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #eee;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#wrap {
    background-color: #eee;
    padding-top: 20px;
}

.bg-main{ 
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-size: cover;
    background-repeat: none;
    background-image:url('../images/bgxpress.jpg');
    background-position: center top;
    z-index: 0;
    color: #000;
}

.bg-small{ 
    position: relative;
    width: 100%;
    min-height: 300px;
    top: 0px;
    left: 0px;
    background-color: #cccccc;
    background-size: cover;
    background-repeat: none;
    background-image:url('../images/bgwomen.jpg');
    z-index: 0;
    color: #fff;
}

#loginform {
    margin-top: 30px;
    padding-left: 800px;
    color: #dbdbdb;
}

#loginform input {
    background-color: #fdfdfd;
	background-color: rgba(255,255,255,0.70);
}

#loginform a {
    color: #fff;
}


/* SITE CONTENTS */
.title {
    font-size: 170%;
    color: #336CB5;
}

.subtitle {
    font-size: 120%;
    color: #336CB5;
    font-weight: 600;
    line-height: 30px;
}

.table {
    font-size: 0.9em;
    background-color: #fdfdfd;
}

.nav-pills li {
    background-color: #fff;
}

.alert-danger {
    background-color: #d83034;
    color: #ffffff;
    border-radius: 0;
}

label {
    font-weight: 600;
}

.myaccprofile {
    font-size: 0.8em;
    font-weight: 400;
    min-height: 145px;
}

.calrow { width: 40px; }

.calrow .day {
    font-size: 200%;
    letter-spacing: 12px;
    color: #606060;
    line-height: 25px;
}

.calrow .month {
    font-size: 110%;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #9a9a9a;
    line-height: 20px;
}

.time {
    font-size: 100%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #333333;
    font-weight: 700;
}

/* BOOTSTRAP GENERIC */
.panel-info > .panel-heading {
    border: 0;
    color: #ffffff;
    background-color: #2d92c8;
}

.panel-danger > .panel-heading {
    border: 0;
    color: #ffffff;
    background-color: #e41025;
}

/* NAVBAR XPRESS */
.navbar-xpress {
	min-height: 50px;
	background-color: rgba(255,255,255,0.6);
	border-bottom: solid 1px #000;
	border-radius: 0;
	margin: 0;
	z-index: 99;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

.navbar-xpress .navbar-header {
	min-height: 50px;	
	text-shadow: none;
}

.navbar-xpress a.navbar-brand {
	padding-top: 0;
	padding-bottom: 0;
	color: #ffffff;
}

.navbar-xpress .navbar-nav li a {
	line-height: 50px;
	padding-top: 0;
	padding-bottom: 0;
	color: #333;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	text-shadow: none;
}

.navbar-xpress .navbar-nav li a:hover, .navbar-xpress .navbar-nav li a:focus, .navbar-xpress .navbar-nav li a:active {
	color: #e3880d;
	background-color: transparent;
}

.navbar-xpress .navbar-nav li.active a {
	color: #e3880d;
	background-color: transparent;
}


.navbar-brand {
    color:#ffffff;
    line-height: 60px;
    font-weight: 700;
    font-size: 1.5em;
    text-transform: uppercase;
}

.navbar-brand:hover, .navbar-brand:active, .navbar-brand:visited  {
    color: #f8f8f8;
}

.navbar-xpress .dropdown-menu {
    background-color: #2d92c8;
    color: #fff;
    border-radius: 0;
    border:0;
}

.navbar-xpress .dropdown-menu > li a {
    line-height: 25px;
    color: #fff;
    border-bottom: 1px #eee;
}

.navbar-nav > li a{
    background-color: transparent;
}

#navbar-login input {
    background-color: #ffffff;
    background-color: rgba(0,0,0,0.25);
    border-radius: 0;
    border:0;
    color:#fff;
}

#navbar-login input::-webkit-input-placeholder {
   color: #333333;
}

#navbar-login input:-moz-placeholder { /* Firefox 18- */
   color: #333333;  
}

#navbar-login input::-moz-placeholder {  /* Firefox 19+ */
   color: #333333;  
}

#navbar-login input:-ms-input-placeholder {  
   color: #333333;  
}

.nav-pills > li {
    border-radius:  0;
    margin: 0;
}
.nav-pills > li > a {
    border-radius:  0;
    margin: 0;
}

#admin-profile ul {
    margin-bottom: 10px;
}


#admin-profile ul > li {
    width: 100%;
    background-color: #d1d1d1;
    color: #494949;
	font-weight: 400;
}

#admin-profile ul > li > label > i {
    text-align: center;
    width: 25px;
}

#admin-profile ul > li > label {
    display: inline-block;
    width: 30%;
    text-align: left;
    font-size: 0.7em;
}

#admin-profile ul > li > a {
    display: inline-block;
	line-height: 30px;
	padding-top: 0;
	padding-bottom: 0;
	color: #333;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	text-shadow: none;
	font-size: 0.8em;
	background-color: #fff;
	border-radius: 0;
	width: 68%;
}
.panel {
    border-radius: 0;
    border:0;
}
.panel-heading {
    border-radius: 0;
}

#admin-profile ul > li > a:hover {
    background-color: #eee;
}

.navbar-danger {
    background-color: #be2e18;
    color: #fff;
    margin:0;
    border:0;
    padding:10px;
}
/* END OF NAVBAR */

/* LEFT MENU */
.mnulogo {
    width: 15px;
    text-align: center;
}
/* END OF LEFT MENU */


/* FOOTER DESIGN */
.footer {
	width: 100%;
	border:0;
}

.footer-a {
    background-color: #336CB5;
	min-height: 300px;
	padding: 20px 0 20px 0;
}

.footer-a p {
	font-family: 'Open Sans', sans-serif;
	color: #FFF;
}

.footer-a h3 {
	color: #FFF;
	padding: 0;
	margin: 0 0 16px 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.1em;
}

.footer-a ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.footer-a ul li {
	display: block;
	margin: 0 0 7px 0;
}

.footer-a ul li a i {
	width: 15px;
	margin-right: 8px;	
}

.footer-a ul li a:link, .footer-a ul li a:visited {
	color: #FFF;
	text-decoration: none;
}

.footer-a ul li a:hover {
	color: #F3F3F3;
	text-decoration: none;
}

.footer-b {
	font-family: 'Montserrat', sans-serif;
	background-color: #2d609d;
	line-height: 60px;
	color: #ffffff;
	font-size: 0.9em;
}

.social-icons {
	font-size: 1.5em;
}

.social-icons a:link, .social-icons a:visited {
	color: #cccccc;
	text-decoration: none;
	margin-left: 6px;
}

.social-icons a:hover {
	color: #ffffff;
	text-decoration: none;
}
/* END OF FOOTER


/* BOOTSTRAP SWITCH */
.bootstrap-switch {
  display: inline-block;
  direction: ltr;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid;
  border-color: #cccccc;
  position: relative;
  text-align: left;
  overflow: hidden;
  line-height: 8px;
  z-index: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.bootstrap-switch .bootstrap-switch-container {
  display: inline-block;
  top: 0;
  border-radius: 4px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.bootstrap-switch .bootstrap-switch-handle-on,
.bootstrap-switch .bootstrap-switch-handle-off,
.bootstrap-switch .bootstrap-switch-label {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block !important;
  height: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 20px;
}
.bootstrap-switch .bootstrap-switch-handle-on,
.bootstrap-switch .bootstrap-switch-handle-off {
  text-align: center;
  z-index: 1;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {
  color: #fff;
  background: #337ab7;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-info,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-info {
  color: #fff;
  background: #5bc0de;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-success,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-success {
  color: #fff;
  background: #5cb85c;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-warning,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-warning {
  background: #f0ad4e;
  color: #fff;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-danger,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-danger {
  color: #fff;
  background: #d9534f;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-default,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default {
  color: #000;
  background: #eeeeee;
}
.bootstrap-switch .bootstrap-switch-label {
  text-align: center;
  margin-top: -1px;
  margin-bottom: -1px;
  z-index: 100;
  color: #333333;
  background: #ffffff;
}
.bootstrap-switch .bootstrap-switch-handle-on {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.bootstrap-switch .bootstrap-switch-handle-off {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.bootstrap-switch input[type='radio'],
.bootstrap-switch input[type='checkbox'] {
  position: absolute !important;
  top: 0;
  left: 0;
  margin: 0;
  z-index: -1;
  opacity: 0;
  filter: alpha(opacity=0);
}
.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-label {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
}
.bootstrap-switch.bootstrap-switch-small .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-small .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-small .bootstrap-switch-label {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.bootstrap-switch.bootstrap-switch-large .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-large .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-large .bootstrap-switch-label {
  padding: 6px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}
.bootstrap-switch.bootstrap-switch-disabled,
.bootstrap-switch.bootstrap-switch-readonly,
.bootstrap-switch.bootstrap-switch-indeterminate {
  cursor: default !important;
}
.bootstrap-switch.bootstrap-switch-disabled .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-readonly .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-indeterminate .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-disabled .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-readonly .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-indeterminate .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-disabled .bootstrap-switch-label,
.bootstrap-switch.bootstrap-switch-readonly .bootstrap-switch-label,
.bootstrap-switch.bootstrap-switch-indeterminate .bootstrap-switch-label {
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: default !important;
}
.bootstrap-switch.bootstrap-switch-animate .bootstrap-switch-container {
  -webkit-transition: margin-left 0.5s;
  -o-transition: margin-left 0.5s;
  transition: margin-left 0.5s;
}
.bootstrap-switch.bootstrap-switch-inverse .bootstrap-switch-handle-on {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.bootstrap-switch.bootstrap-switch-inverse .bootstrap-switch-handle-off {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.bootstrap-switch.bootstrap-switch-focused {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.bootstrap-switch.bootstrap-switch-on .bootstrap-switch-label,
.bootstrap-switch.bootstrap-switch-inverse.bootstrap-switch-off .bootstrap-switch-label {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.bootstrap-switch.bootstrap-switch-off .bootstrap-switch-label,
.bootstrap-switch.bootstrap-switch-inverse.bootstrap-switch-on .bootstrap-switch-label {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
/* END OF BOOTSWITCH */