@charset "utf-8";
/* CSS Document */

html {
	position: relative;
	min-height: 100%;
	padding:0;
	-webkit-font-smoothing: antialiased;
}
body {
	font-family: 'Open Sans', sans-serif;
	background-color: #ffffff;
	color: #333;
	overflow-y: scroll;
	padding:0;
  	margin-bottom: 200px;
}
footer {
	position: relative;
	bottom: 0;
	width: 100%;
	background-color: #f5f5f5;
}

.whiteboard {
	width: 100%;
	background-color: #ffffff;
	padding: 20px;
	box-shadow: -60px 0px 100px -80px #000000, 60px 0px 100px -80px #000000;
	border: solid 1px #cccccc;
}

.navbar-toggle .icon-bar {
    background-color: black !important;
}

.alert {
	border:solid 1px #333;
	margin:0;
}

.alert-danger {
    background-color: #d83034;
    color: #ffffff;
    border-radius: 0;
    border:0;
}

.alert-success {
    background-color: #299236;
    color: #ffffff;
    border-radius: 0;
    border:0;
}

/* NAVBAR XPRESS */
.navbar-xpress {
	border-bottom: solid 1px #f8f8f8;
	border-radius: 0;
	margin: 0;
	z-index: 99;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	background-color: #ffffff;
	-webkit-box-shadow: 0px 0px 8px 2px #6b6b6b;
       -moz-box-shadow: 0px 0px 8px 2px #6b6b6b;
            box-shadow: 0px 0px 8px 2px #6b6b6b;
}

.navbar-dark {
	background-color: rgba(0,0,0,0.95);
}

.navbar-xpress .navbar-header {
	min-height: 50px;	
	text-shadow: none;
}

.navbar-xpress a.navbar-brand {
	padding-top: 0;
	padding-bottom: 0;
	color: #ffffff;
}

.navbar-xpress .navbar-nav li a {
	line-height: 50px;
	padding-top: 0;
	padding-bottom: 0;
	margin: 0 10px;
	color: #333333;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	text-shadow: none;
}

.navbar-xpress .navbar-nav li a:hover, .navbar-xpress .navbar-nav li a:focus, .navbar-xpress .navbar-nav li a:active {
	color: #79bde1;
	background-color: transparent;
}

.navbar-xpress .navbar-nav li.active a {
	color: #2d92c8;
	background-color: transparent;
}

.navbar-brand {
    color:#ffffff;
    padding:0 15px;
}

.navbar-brand:hover, .navbar-brand:active, .navbar-brand:visited  {
    color: #f8f8f8;
}

.navbar-xpress .dropdown-menu {
    background-color: #f4fafd;
    color: #fff;
    border-radius: 0;
    border:0;
}

.navbar-xpress .dropdown-menu > li a {
    line-height: 25px;
    color: #fff;
    border-bottom:solid 1px #eee;
}

.navbar-xpress-collapse {
	color: #fff !important;
}

.navbar-nav > li a{
    background-color: transparent;
}

.navbar-nav-xpress {
	background-color: #f8f8f8;
	width:100%;
	margin:0;
}

.navbar-nav-xpress > li a {
	color: #333333;
	border-left: solid 1px #183456;
	text-align: center;
}

.navbar-nav-xpress > li a:hover {
    background-color: #232323;
}


.navbar-nav-xpress > .active > a, .navbar-nav-xpress > .active > a:hover, .navbar-nav-xpress > .active > a:focus {
    background-color: #444444;
}

.navbar .navbar-nav-xpress > li {
	display: inline-block;
	background-color: #336CB5;
	border-bottom-left-radius:0;
	border-bottom-right-radius:0;
	text-align: center;
}

.empty-nav-xpress {
	min-height:40px;
	background-color: #336CB5;
	border-bottom-left-radius:0;
	border-bottom-right-radius:0;
}

.navbar-xpress .dropdown-menu {
    background-color: rgba(0,0,0,0.75);
    color: #333;
    border-radius: 0;
    border:0;
}

.navbar-xpress .dropdown-menu > li a {
    line-height: 30px;
    color: #000;
    border-bottom: 1px #eee;
}


.loading-block {
	position: absolute;
	width: 100%;
	height:90px;
	margin:70px auto;
	font-size: 1.6em;
	line-height:90px;
	z-index:999;
	text-align: center;
}

.loading-block span {
	background-color:#ffffff;
	border:solid 1px #333333;
	padding:30px;
}

input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border-radius: 0;
    border:solid 1px #ccc;
}

label {
	font-weight: 600;
}

.nav-pills > li > a {
	border-radius: 0;
	color: #333333;
	border-bottom: solid 1px #ccc;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus {
	color:#eeeeee;
	background-color: #303030;
}

.nav-pills > li.active > a:hover {
	background-color: #303030;
	color:#eeeeee;
	border-radius: 0;
}

.btn {
	border-radius: 0;
}

.btn-xp-black { 
  color: #EEEEEE; 
  background-color: rgba(0,0,0,0.75);
  border-color: #1b1b1b; 
  border-radius: 0;
  text-shadow: 2px 1px 2px rgba(0, 0, 0, 1);
} 
 
.btn-xp-black:hover, 
.btn-xp-black:focus, 
.btn-xp-black:active, 
.btn-xp-black.active, 
.open .dropdown-toggle.btn-xp-black { 
  color: #EEEEEE; 
  background-color: rgba(255,255,255,0.15);
  border-color: #333; 
} 
 
.btn-xp-black:active, 
.btn-xp-black.active, 
.open .dropdown-toggle.btn-xp-black { 
  background-image: none; 
} 
 
.btn-xp-black.disabled, 
.btn-xp-black[disabled], 
fieldset[disabled] .btn-xp-black, 
.btn-xp-black.disabled:hover, 
.btn-xp-black[disabled]:hover, 
fieldset[disabled] .btn-xp-black:hover, 
.btn-xp-black.disabled:focus, 
.btn-xp-black[disabled]:focus, 
fieldset[disabled] .btn-xp-black:focus, 
.btn-xp-black.disabled:active, 
.btn-xp-black[disabled]:active, 
fieldset[disabled] .btn-xp-black:active, 
.btn-xp-black.disabled.active, 
.btn-xp-black[disabled].active, 
fieldset[disabled] .btn-xp-black.active { 
  background-color: #1C1C1C; 
  border-color: #333; 
} 
 
.btn-xp-black .badge { 
  color: #1C1C1C; 
  background-color: #EEEEEE; 
}


@media (min-width: 768px) { 
	.navbar-xpress .navbar-nav li a {
		line-height: 50px;
		padding-top: 0;
		padding-bottom: 0;
		color: #333333;
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		text-shadow: none;
	}

	.navbar-xpress .dropdown-menu {
	    background-color: rgba(0,0,0,0.75);
	    color: #eee;
	    border-radius: 0;
	    border:0;
	}
	
	.navbar-xpress .dropdown-menu > li a {
	    line-height: 30px;
	    color: #fff;
	    border-bottom: 1px #eee;
	}
}
/* ####################### */

.nav-xpress {
	background-color: #eee;
	min-height: 50px;
}

.nav-xpress > li{
	border-radius: 0;
	border-right: solid 1px #cccccc !important;
	border-bottom: solid  1px #cccccc !important;
}

.nav-xpress > li:last-child{
	border-right: 0 !important;
}

.nav-xpress > li a{
	line-height: 30px;
	min-height: 50px;
	border-radius: 0 !important;
	border:0 !important;
	
}


.homepage {
    background-size: cover;
    background-repeat: none;
    background-attachment: fixed;
    background-image: url('../images/bgxpress.jpg');
    background-position: left center;
    color: #333;
}


.transmenu  > li {
	background-color: rgba(255,255,255,0.5);
}

.transmenu  > li a {
	font-size: 1.1em;
	color: #000;
}

.transmenu  > li a:hover {
	background-color: rgba(255,255,255,0.4);
	color: #000;
}


#loginform {
	background-color: rgba(0,0,0,0.35);
    color: #dbdbdb;
    padding:20px;
    height: 100%;
}

#loginform input {
    background-color: #fdfdfd;
	background-color: rgba(255,255,255,0.70);
	color: #000;
}

#loginform a {
    color: #336CB5;
}

#loginform h3 {
    color: #ccc;
}


#overview_intro {
    margin-top: 10px;
}


#signmessage {
	background-color: #c90e2f;
	color: #ffffff;
	margin: 10px 0;
}


.panel-xpress {
	color: #333;
}

.panel {
	margin: 20px 0;
	border-radius: 0;
	border:0;
}

.panel-heading{
	border-radius: 0;
	border:0;
}

.panel-heading.panel-heading-red {
	background-color: #D9534F;
	color: #fff;
}

.panel-heading.panel-heading-green {
	background-color: #5CB85C;
	color: #fff;
}

.panel-heading.panel-heading-blue {
	background-color: #3d72d3;
	color: #fff;
}

.panel-heading.panel-heading-orange {
	background-color: #e99d2c;
	color: #fff;
}


.page-title {
	font-size: 2em;
}


.xpress-table {
	border: solid 1px #eee;
	font-size: 0.9em;
	display: table !important;
}

.xpress-table td {
	display: table-cell !important;
  	vertical-align: middle !important;
}

.xpress-table th {
	color: #757575;
	line-height: 30px !important;
	background-color: #f5f5f5;
	font-size: 0.8em;
}

.footer {
	background-color: rgba(0,0,0,0.85);
	border-top: solid 5px #336CB5;
	padding: 10px 0;
	color: #fff;
	text-align: left;
}

.footer ul {
	list-style-type: none; 
	padding-left:0;
}

.footer h3 {
	line-height: 30px;
	margin: 0;
}

.nopadding { padding : 0; }
.nomargin { margin : 0; }



@media (min-width: 768px) { 
	
	footer {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 200px;
		background-color: #f5f5f5;
	}
	
}