@charset "utf-8";
/* CSS Document */

html {
	position: relative; 
	min-height: 100%;
	-webkit-font-smoothing: antialiased;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #535353;
    color: #333;
    overflow-y: scroll;
}

.footer {
	position: relative;
	min-height: 200px;
	background-color: rgba(0,0,0,0.95);
	border-top: solid 5px #336CB5;
	padding: 0;
	color: #fff;
	text-align: center;
}

.footer ul {
	list-style-type: none; 
	padding-left:0;
}

.footer h3 {
	line-height: 30px;
	margin: 0;
}

.nopadding { padding : 0; }
.nomargin { margin : 0; }

.homepage {
    background-size: cover;
    background-repeat: none;
    background-attachment: fixed;
    background-image: url('../images/bgxpress.jpg');
    background-position: center top;
    color: #333;
}

#pagewrap {
	background-color: #fff;
	background-color: rgba(255,255,255,0.95);
	border: solid 1px #eee;
	padding: 20px;
	color: #333;
	margin-bottom: 10px;
	box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2)
}

.page-title {
	padding: 0 20px;
	line-height: 30px;
	margin-top: 10px;
	font-size: 2em;
	border:0;
	line-height: 50px;
	width: 100%;
	background-color: rgba(0,0,0,0.8);
	color:#eee;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.alert {
	border:solid 1px #333;
	margin:0;
}

.alert-danger {
    background-color: #d83034;
    color: #ffffff;
    border-radius: 0;
    border:0;
}

.alert-success {
    background-color: #299236;
    color: #ffffff;
    border-radius: 0;
    border:0;
}

label {
    font-weight: 600;
}

#loginform {
	background-color: rgba(0,0,0,0.8);
    color: #dbdbdb;
    padding:20px;
}

#loginform input {
    background-color: #fdfdfd;
	background-color: rgba(255,255,255,0.70);
	color: #000;
}

#loginform a {
    color: #fff;
}

#loginform h3 {
    color: #eee;
}


.panel-xpress {
	background-color: rgba(0,0,0,0.6);
	color: #fff;
}

.panel {
	margin: 10px 0;
	border-radius: 0;
	border:0;
}

.ease {
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;		
}

.panel-heading{
	border-radius: 0;
	border:0;
}

.panel-heading.panel-heading-red {
	background-color: #D9534F;
	color: #fff;
}

.panel-heading.panel-heading-green {
	background-color: #5CB85C;
	color: #fff;
}

.panel-heading.panel-heading-blue {
	background-color: #3d72d3;
	color: #fff;
}

.panel-heading.panel-heading-orange {
	background-color: #d78a3e;
	color: #fff;
}

.panel-body h2 {
	color: #eee;
}

.calrow { width: 40px; }

.calrow .day {
    font-size: 200%;
    letter-spacing: 12px;
    color: #dadada;
    line-height: 25px;
}

.calrow .month {
    font-size: 110%;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #c8c8c8;
    line-height: 20px;
}

.time {
    font-size: 100%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #c8c8c8;
    font-weight: 700;
}


.time-eventfr{
	display: block;
	font-weight: 500; 
	color: #fff; 
	background-color: #428BCA;
	border-radius: 10px;
	padding:3px;
}

.time-eventen{
	display: block;
	font-weight: 500; 
	color: #fff; 
	background-color: #D2322D;
	border-radius: 10px;
	padding:3px;
}

.time-eventes{
	display: block;
	font-weight: 500; 
	color: #fff; 
	background-color: #5fa06a;
	border-radius: 10px;
	padding:3px;
}

.status-meeting{
	display: block;
	font-weight: 500; 
	color: #fff; 
	background-color: #428BCA;
	border-radius: 10px;
	padding:4px;
}

.status-look{
	display: block;
	font-weight: 500; 
	color: #fff; 
	background-color: #D2322D;
	border-radius: 10px;
	padding:4px;
}

.status-order{
	display: block;
	font-weight: 500; 
	color: #fff; 
	background-color: #5CB85C;
	border-radius: 10px;
	padding:4px;
}

.status-client{
	display: block;
	font-weight: 500; 
	color: #fff; 
	background-color: #5CB85C;
	border-radius: 10px;
	padding:4px;
}

.status-builder{
	display: block;
	font-weight: 500; 
	color: #fff; 
	background-color: #D2322D;
	border-radius: 10px;
	padding:4px;
}


.table-borderless td,
.table-borderless th {
    border: 0 !important;
}


.btn-xpress-black { 
  color: #EEEEEE; 
  background-color: rgba(0,0,0,0.75);
  border-color: #1b1b1b; 
  line-height: 40px;
  border-radius: 0;
  text-shadow: 2px 1px 2px rgba(0, 0, 0, 1);
  font-size: 1.3em;
} 
 
.btn-xpress-black:hover, 
.btn-xpress-black:focus, 
.btn-xpress-black:active, 
.btn-xpress-black.active, 
.open .dropdown-toggle.btn-xpress-black { 
  color: #EEEEEE; 
  background-color: rgba(255,255,255,0.15);
  border-color: #333; 
} 
 
.btn-xpress-black:active, 
.btn-xpress-black.active, 
.open .dropdown-toggle.btn-xpress-black { 
  background-image: none; 
} 
 
.btn-xpress-black.disabled, 
.btn-xpress-black[disabled], 
fieldset[disabled] .btn-xpress-black, 
.btn-xpress-black.disabled:hover, 
.btn-xpress-black[disabled]:hover, 
fieldset[disabled] .btn-xpress-black:hover, 
.btn-xpress-black.disabled:focus, 
.btn-xpress-black[disabled]:focus, 
fieldset[disabled] .btn-xpress-black:focus, 
.btn-xpress-black.disabled:active, 
.btn-xpress-black[disabled]:active, 
fieldset[disabled] .btn-xpress-black:active, 
.btn-xpress-black.disabled.active, 
.btn-xpress-black[disabled].active, 
fieldset[disabled] .btn-xpress-black.active { 
  background-color: #1C1C1C; 
  border-color: #333; 
} 
 
.btn-xpress-black .badge { 
  color: #1C1C1C; 
  background-color: #EEEEEE; 
}


/* NAVBAR XPRESS */
.navbar-xpress {
	border-bottom: solid 1px #000;
	border-radius: 0;
	margin: 0;
	z-index: 99;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	background-color: rgba(0,0,0,0.75);
}

.navbar-dark {
	background-color: rgba(0,0,0,0.95);
}

.navbar-xpress .navbar-header {
	min-height: 50px;	
	text-shadow: none;
}

.navbar-xpress a.navbar-brand {
	padding-top: 0;
	padding-bottom: 0;
	color: #ffffff;
}

.navbar-xpress .navbar-nav li a {
	line-height: 50px;
	padding-top: 0;
	padding-bottom: 0;
	color: #eeeeee;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	text-shadow: none;
}

.navbar-xpress .navbar-nav li a:hover, .navbar-xpress .navbar-nav li a:focus, .navbar-xpress .navbar-nav li a:active {
	color: #79bde1;
	background-color: transparent;
}

.navbar-xpress .navbar-nav li.active a {
	color: #2d92c8;
	background-color: transparent;
}

.navbar-brand {
    color:#ffffff;
    padding:0 15px;
}

.navbar-brand:hover, .navbar-brand:active, .navbar-brand:visited  {
    color: #f8f8f8;
}

.navbar-xpress .dropdown-menu {
    background-color: #2d92c8;
    color: #fff;
    border-radius: 0;
    border:0;
}

.navbar-xpress .dropdown-menu > li a {
    line-height: 25px;
    color: #fff;
    border-bottom:solid 1px #eee;
}

.navbar-xpress-collapse {
	color: #fff !important;
}

.navbar-nav > li a{
    background-color: transparent;
}

.navbar-nav-xpress {
	background-color: #336CB5;
	width:100%;
	margin:0;
}

.navbar-nav-xpress > li a {
	color: #ffffff;
	border-left: solid 1px #183456;
	text-align: center;
}

.navbar-nav-xpress > li a:hover {
    background-color: #232323;
}


.navbar-nav-xpress > .active > a, .navbar-nav-xpress > .active > a:hover, .navbar-nav-xpress > .active > a:focus {
    background-color: #444444;
}

.navbar .navbar-nav-xpress > li {
	display: inline-block;
	background-color: #336CB5;
	border-bottom-left-radius:0;
	border-bottom-right-radius:0;
	text-align: center;
}

.empty-nav-xpress {
	min-height:40px;
	background-color: #336CB5;
	border-bottom-left-radius:0;
	border-bottom-right-radius:0;
}

.navbar-xpress .dropdown-menu {
    background-color: rgba(0,0,0,0.75);
    color: #eee;
    border-radius: 0;
    border:0;
}

.navbar-xpress .dropdown-menu > li a {
    line-height: 30px;
    color: #fff;
    border-bottom: 1px #eee;
}
/* ####################### */


.tlt {
     font-family: 'Mouse Memoirs', sans-serif;
     font-size:5em;
     height: 150px;
     line-height: 150px;
}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
	
	body {
	    font-family: 'Open Sans', sans-serif;
	    background-color: #535353;
	    color: #333;
	    margin-bottom: 200px;
	    padding: 0;
	}
	
	.footer {
		position: absolute;
  		bottom: 0;
		width: 100%;
		height: 200px;
		background-color: rgba(0,0,0,0.95);
		border-top: solid 3px #336CB5;
		padding: 20px;
		color: #fff;
		text-align: left;
	}
	
	.footer h3 {
		line-height: 30px;
		margin: 0;
	}

	.navbar-nav-xpress > li a {
		text-align: left;
	}
	
	.copyright-right {
		text-align: center !important;
		line-height: auto;
	}
	
	.navbar-nav-xpress > li a {
		height: 40px;
		line-height: 10px;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
	#loginform {
		background-color: rgba(0,0,0,0.5);
	}
}



.box-shadow--2dp {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
}
.box-shadow--3dp {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12)
}
.box-shadow--4dp {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2)
}
.box-shadow--6dp {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2)
}
.box-shadow--8dp {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2)
}
.box-shadow--16dp {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2)
}

/* BOOTSTRAP SWITCH */
.bootstrap-switch {
  display: inline-block;
  direction: ltr;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid;
  border-color: #cccccc;
  position: relative;
  text-align: left;
  overflow: hidden;
  line-height: 8px;
  z-index: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.bootstrap-switch .bootstrap-switch-container {
  display: inline-block;
  top: 0;
  border-radius: 4px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.bootstrap-switch .bootstrap-switch-handle-on,
.bootstrap-switch .bootstrap-switch-handle-off,
.bootstrap-switch .bootstrap-switch-label {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block !important;
  height: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 20px;
}
.bootstrap-switch .bootstrap-switch-handle-on,
.bootstrap-switch .bootstrap-switch-handle-off {
  text-align: center;
  z-index: 1;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary {
  color: #fff;
  background: #337ab7;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-info,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-info {
  color: #fff;
  background: #5bc0de;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-success,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-success {
  color: #fff;
  background: #5cb85c;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-warning,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-warning {
  background: #f0ad4e;
  color: #fff;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-danger,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-danger {
  color: #fff;
  background: #d9534f;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-default,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default {
  color: #000;
  background: #eeeeee;
}
.bootstrap-switch .bootstrap-switch-label {
  text-align: center;
  margin-top: -1px;
  margin-bottom: -1px;
  z-index: 100;
  color: #333333;
  background: #ffffff;
}
.bootstrap-switch .bootstrap-switch-handle-on {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.bootstrap-switch .bootstrap-switch-handle-off {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.bootstrap-switch input[type='radio'],
.bootstrap-switch input[type='checkbox'] {
  position: absolute !important;
  top: 0;
  left: 0;
  margin: 0;
  z-index: -1;
  opacity: 0;
  filter: alpha(opacity=0);
}
.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-label {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
}
.bootstrap-switch.bootstrap-switch-small .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-small .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-small .bootstrap-switch-label {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.bootstrap-switch.bootstrap-switch-large .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-large .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-large .bootstrap-switch-label {
  padding: 6px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}
.bootstrap-switch.bootstrap-switch-disabled,
.bootstrap-switch.bootstrap-switch-readonly,
.bootstrap-switch.bootstrap-switch-indeterminate {
  cursor: default !important;
}
.bootstrap-switch.bootstrap-switch-disabled .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-readonly .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-indeterminate .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-disabled .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-readonly .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-indeterminate .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-disabled .bootstrap-switch-label,
.bootstrap-switch.bootstrap-switch-readonly .bootstrap-switch-label,
.bootstrap-switch.bootstrap-switch-indeterminate .bootstrap-switch-label {
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: default !important;
}
.bootstrap-switch.bootstrap-switch-animate .bootstrap-switch-container {
  -webkit-transition: margin-left 0.5s;
  -o-transition: margin-left 0.5s;
  transition: margin-left 0.5s;
}
.bootstrap-switch.bootstrap-switch-inverse .bootstrap-switch-handle-on {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.bootstrap-switch.bootstrap-switch-inverse .bootstrap-switch-handle-off {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.bootstrap-switch.bootstrap-switch-focused {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.bootstrap-switch.bootstrap-switch-on .bootstrap-switch-label,
.bootstrap-switch.bootstrap-switch-inverse.bootstrap-switch-off .bootstrap-switch-label {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.bootstrap-switch.bootstrap-switch-off .bootstrap-switch-label,
.bootstrap-switch.bootstrap-switch-inverse.bootstrap-switch-on .bootstrap-switch-label {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
/* END OF BOOTSWITCH */
