@charset "utf-8";
/* CSS Document */
body {
    background-color: #000000;
    font-family: 'Lato', 'Open Sans', 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, sans-serif !important;
    line-height: 21px;
    font-size: 14px;
    color: #333333;
    height: 100%;
    overflow-y: scroll;
}

body.modal-open,.modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom { margin-right: 0 !important; }

h2 {
    color: #2b75b3;
    font-size: 1.8em;
}


.alert {
	border:solid 1px #333;
	margin:0;
}

.alert-danger {
    background-color: #d83034;
    color: #ffffff;
    border-radius: 0;
    border:0;
}

.alert-success {
    background-color: #299236;
    color: #ffffff;
    border-radius: 0;
    border:0;
}

/* NAVBAR XPRESS */
.navbar-xpress {
	border-bottom: solid 1px #f8f8f8;
	border-radius: 0;
	margin: 0;
	z-index: 99;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	background-color: #ffffff;
	-webkit-box-shadow: 0px 0px 8px 2px #6b6b6b;
       -moz-box-shadow: 0px 0px 8px 2px #6b6b6b;
            box-shadow: 0px 0px 8px 2px #6b6b6b;
}

.navbar-dark {
	background-color: rgba(0,0,0,0.95);
}

.navbar-xpress .navbar-header {
	min-height: 50px;	
	text-shadow: none;
}

.navbar-xpress a.navbar-brand {
	padding-top: 0;
	padding-bottom: 0;
	color: #ffffff;
}

.navbar-xpress .navbar-nav li a {
	line-height: 50px;
	padding-top: 0;
	padding-bottom: 0;
	margin: 0 10px;
	color: #333333;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	text-shadow: none;
}

.navbar-xpress .navbar-nav li a:hover, .navbar-xpress .navbar-nav li a:focus, .navbar-xpress .navbar-nav li a:active {
	color: #79bde1;
	background-color: transparent;
}

.navbar-xpress .navbar-nav li.active a {
	color: #2d92c8;
	background-color: transparent;
}

.navbar-brand {
    color:#ffffff;
    padding:0 15px;
}

.navbar-brand:hover, .navbar-brand:active, .navbar-brand:visited  {
    color: #f8f8f8;
}

.navbar-xpress .dropdown-menu {
    background-color: #f4fafd;
    color: #fff;
    border-radius: 0;
    border:0;
}

.navbar-xpress .dropdown-menu > li a {
    line-height: 25px;
    color: #fff;
    border-bottom:solid 1px #eee;
}

.navbar-xpress-collapse {
	color: #fff !important;
}

.navbar-nav > li a{
    background-color: transparent;
}

.navbar-nav-xpress {
	background-color: #f8f8f8;
	width:100%;
	margin:0;
}

.navbar-nav-xpress > li a {
	color: #333333;
	border-left: solid 1px #183456;
	text-align: center;
}

.navbar-nav-xpress > li a:hover {
    background-color: #232323;
}


.navbar-nav-xpress > .active > a, .navbar-nav-xpress > .active > a:hover, .navbar-nav-xpress > .active > a:focus {
    background-color: #444444;
}

.navbar .navbar-nav-xpress > li {
	display: inline-block;
	background-color: #336CB5;
	border-bottom-left-radius:0;
	border-bottom-right-radius:0;
	text-align: center;
}

.empty-nav-xpress {
	min-height:40px;
	background-color: #336CB5;
	border-bottom-left-radius:0;
	border-bottom-right-radius:0;
}

.navbar-xpress .dropdown-menu {
    background-color: rgba(0,0,0,0.75);
    color: #333;
    border-radius: 0;
    border:0;
}

.navbar-xpress .dropdown-menu > li a {
    line-height: 30px;
    color: #000;
    border-bottom: 1px #eee;
}


@media (min-width: 768px) { 
	.navbar-xpress .navbar-nav li a {
		line-height: 50px;
		padding-top: 0;
		padding-bottom: 0;
		color: #333333;
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		text-shadow: none;
	}

	.navbar-xpress .dropdown-menu {
	    background-color: rgba(0,0,0,0.75);
	    color: #eee;
	    border-radius: 0;
	    border:0;
	}
	
	.navbar-xpress .dropdown-menu > li a {
	    line-height: 30px;
	    color: #fff;
	    border-bottom: 1px #eee;
	}
}
/* ####################### */

.navbar-nav > li a{
    background-color: transparent;
}

#navbar-login {
    background-color: #ffffff;
}
#navbar-login input {
    background-color: #ffffff;
    border-radius: 0;
    border:0;
    color:#333;
}

#navbar-login input::-webkit-input-placeholder {
   color: #fce4c5;
}

#navbar-login input:-moz-placeholder { /* Firefox 18- */
   color: #fce4c5;  
}

#navbar-login input::-moz-placeholder {  /* Firefox 19+ */
   color: #fce4c5;  
}

#navbar-login input:-ms-input-placeholder {  
   color: #fce4c5;  
}

#signupmodal {
    color: #ffffff;
}

#signmessage {
    color: #f9393f;
}

#preload {
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	top: 0;
	left: 0;
	overflow: hidden;
}


.cb-slideshow,
.cb-slideshow:after { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-size: cover;
    background-repeat: none;
    z-index: 0;
}
.cb-slideshow:after { 
    content: '';
    background: transparent url(../images/pattern.png) repeat top left;
}


.cb-slideshow img {
    position:absolute;
    top:0;
    display:none;
    width:100%;
    height:100%;
}


.whitebox {
    width: 100%;
    background-color: rgba(255,255,255,0.9);
    padding: 5px;
    margin: 0;
    color: #000;
    border-radius: 0px;
}

.blackbox {
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    padding: 5px;
    margin: 0;
    color: #fff;
    border-radius: 0 0 5px 5px;
}

.greenbox {
    width: 100%;
    background-color: #a9e2ad;
    background-color: rgba(169,226,173,0.5);
    padding: 5px;
    margin: 0;
    color: #fff;
    border-radius: 0 0 5px 5px;
    border-radius: 5px;
}


.panel {
	margin: 10px 0;
	border-radius: 0;
	border:0;
}

.panel-xpress {
    background-color: rgba(0,0,0,0.6);
    color: #eeeeee;
    border:0;
}

.panel-xpress .panel-heading {
    background-color: #333;
    color: #000;
}

#profile-menu, #profile-info {
    list-style: none;
	padding: 0;
	width: 100%;
}

#profile ul li {
    width: 100%;
	color: #333;
	text-decoration: none;
	line-height: 30px;
	display: inline-block;
	padding: 0 15px;
	-webkit-transition: background 125ms ease-in-out;
	-moz-transition: background 125ms ease-in-out;
	-ms-transition: background 125ms ease-in-out;
	-o-transition: background 125ms ease-in-out;
	transition: background 125ms ease-in-out;
}

#menu {
    list-style: none;
	padding: 0;
	width: 100%;
}

#menu li a:link, #menu li a:visited {
    width: 100%;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 50px;
	display: inline-block;
	padding: 0 15px;
	-webkit-transition: background 125ms ease-in-out;
	-moz-transition: background 125ms ease-in-out;
	-ms-transition: background 125ms ease-in-out;
	-o-transition: background 125ms ease-in-out;
	transition: background 125ms ease-in-out;
}

#menu li a:hover {
	background-color: rgba(255,255,255,0.2);	
}


.calrow { width: 40px; }

.calrow .day {
    font-size: 200%;
    letter-spacing: 12px;
    color: #dadada;
    line-height: 25px;
}

.calrow .month {
    font-size: 110%;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #c8c8c8;
    line-height: 20px;
}

.time {
    font-size: 100%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #c8c8c8;
    font-weight: 700;
}




.ic_container{
    width: 100%;
    margin:10px 0;
    position:relative;
}

.ic_container img{
    width: 100%;
}

.overlay{
    opacity: 0.3;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width: 100%;
    height: 100%;
    background-color: #000000;
}
.ic_caption{
    position:absolute;   
    overflow:hidden;
    margin:0px;
    padding:0px;
    left:0px;
    right:0px;
    bottom: 0;
    height: 70px;
    color: #fff;
    background-color: rgba(0,0,0,0.3) !important;
}
.ic_category{
    text-transform:uppercase;
    font-size:11px;
    letter-spacing:3px;
    padding:5px;
    margin:0px;
}
.ic_caption h3{
    padding:0px 5px 5px 5px;
    margin:0px;
    font-size:18px;
}













.cbp-qtrotator {
	position: relative;
	margin: 10px auto 10px auto;
	width: 100%;
}

.cbp-qtrotator .cbp-qtcontent {
	position: absolute;
	padding: 2em 0;
	top: 0;
	z-index: 0;
	opacity: 0;
	width: 100%;
	-webkit-backface-visibility: hidden;
}

.no-js .cbp-qtrotator .cbp-qtcontent {
	border-bottom: none;
}

.cbp-qtrotator .cbp-qtcontent.cbp-qtcurrent,
.no-js .cbp-qtrotator .cbp-qtcontent {
	position: relative; 
	z-index: 100;
	pointer-events: auto;
	opacity: 1;
}

.cbp-qtrotator .cbp-qtcontent:before,
.cbp-qtrotator .cbp-qtcontent:after {
	content: " ";
	display: table;
}

.cbp-qtrotator .cbp-qtcontent:after {
	clear: both;
}

.cbp-qtprogress {
	position: absolute;
	background: #a9e2ad;
	height: 2px;
	width: 0%;
	top: 0;
	z-index: 1000;
}

.cbp-qtrotator blockquote {
	margin: 0;
	padding: 0;
	border:0;
}

.cbp-qtrotator blockquote p {
	font-size: 1.2em;
	color: #fff;
	font-weight: 300;
	margin: 0.1em 0 0.5em;
	line-height: 30px;
}

.cbp-qtrotator blockquote footer {
	font-size: 1.2em;
	color: #eeeeee;
}

.cbp-qtrotator blockquote footer:before {
	content: '- ';
}

.cbp-qtrotator .cbp-qtcontent img {
	float: right;
	margin-left: 3em;
}

/* Example for media query */
@media screen and (max-width: 30.6em) { 

	.cbp-qtrotator {
		font-size: 70%;
	}

	.cbp-qtrotator img {
		width: 80px;
	}

}



#herotext {
    font-size: 2.9em;
    display: inline-block;
    padding: 20px 0;
    line-height: 40px;
}


#articles-menu {
    list-style: none;
	padding: 0;
	width: 100%;
}

#articles-menu li a:link, #articles-menu li a:visited {
    width: 100%;
	color: #333;
	height: 50px;
	border-top: solid 1 #eee;
	text-decoration: none;
	line-height: 20px;
	display: inline-block;
	padding: 0 15px;
	-webkit-transition: background 125ms ease-in-out;
	-moz-transition: background 125ms ease-in-out;
	-ms-transition: background 125ms ease-in-out;
	-o-transition: background 125ms ease-in-out;
	transition: background 125ms ease-in-out;
}

#articles-menu li a:hover {
	background-color: rgba(0,0,0,0.1);	
}


.xp-modal { margin-top: 60px; max-width: 720px !important; overflow: hidden !important;}
div#videomodal { overflow: hidden !important; }

.modal-backdrop, .modal-backdrop.fade.in {
    opacity: 0.9;
    filter: alpha(opacity=90);
    background: #000;
}


/* XPRESS BUTTONS */

.btn-xp-green {
    width: 100%;
	background-color: #a9e2ad;
    background-color: rgba(169,226,173,0.5) !important;
	filter: none;
	color: #fff !important;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	padding: 8px 14px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 0;
	text-shadow: none;
	text-decoration: none;
	box-shadow: none;
	text-align: center;
}

.btn-xp-green:hover {
	background-color: #a9e2ad;
    background-color: rgba(169,226,173,0.6) !important;
	color: #fff !important;
	text-shadow: none;
	text-decoration: none;
}

.btn-xp-green:active {
	color: #fff !important;
	background-color: #a9e2ad;
    background-color: rgba(169,226,173,0.6) !important;
	box-shadow: none;	
}


.btn-xp-black { 
  color: #EEEEEE; 
  background-color: rgba(0,0,0,0.75);
  border-color: #1b1b1b; 
  line-height: 40px;
  border-radius: 0;
  text-shadow: 2px 1px 2px rgba(0, 0, 0, 1);
  font-size: 1.3em;
} 
 
.btn-xp-black:hover, 
.btn-xp-black:focus, 
.btn-xp-black:active, 
.btn-xp-black.active, 
.open .dropdown-toggle.btn-xp-black { 
  color: #EEEEEE; 
  background-color: rgba(255,255,255,0.15);
  border-color: #333; 
} 
 
.btn-xp-black:active, 
.btn-xp-black.active, 
.open .dropdown-toggle.btn-xp-black { 
  background-image: none; 
} 
 
.btn-xp-black.disabled, 
.btn-xp-black[disabled], 
fieldset[disabled] .btn-xp-black, 
.btn-xp-black.disabled:hover, 
.btn-xp-black[disabled]:hover, 
fieldset[disabled] .btn-xp-black:hover, 
.btn-xp-black.disabled:focus, 
.btn-xp-black[disabled]:focus, 
fieldset[disabled] .btn-xp-black:focus, 
.btn-xp-black.disabled:active, 
.btn-xp-black[disabled]:active, 
fieldset[disabled] .btn-xp-black:active, 
.btn-xp-black.disabled.active, 
.btn-xp-black[disabled].active, 
fieldset[disabled] .btn-xp-black.active { 
  background-color: #1C1C1C; 
  border-color: #333; 
} 
 
.btn-xp-black .badge { 
  color: #1C1C1C; 
  background-color: #EEEEEE; 
}